<label class="inline-flex items-center cursor-pointer pt-2">
  <%= form.check_box field, class: "sr-only peer" %>
  <div class="-z-10 relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-3 peer-focus:ring-green-600 dark:peer-focus:ring-green-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600/90 "></div>
  <span class="ms-3 text-xs text-gray-400 dark:text-white/30"><%= field.to_s.humanize %></span>
</label>