<div class="mx-auto max-w-7xl px-2 py-16 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-medium tracking-tight text-gray-900 my-2">Get started building your app!</h1>
  <p class="text-lg">Use this template as a way to quickly start any new project.</p>
</div>