<main class="grid min-h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto size-20 fill-green-600/75">
      <path d="M6.55775 16H7.44225V15.75C7.44225 14.4897 7.88683 13.415 8.776 12.526C9.665 11.6368 10.7397 11.1923 12 11.1923C13.2603 11.1923 14.335 11.6368 15.224 12.526C16.1132 13.415 16.5578 14.4897 16.5578 15.75V16H17.4423V15.75C17.4423 14.2357 16.9143 12.95 15.8583 11.893C14.8021 10.8362 13.5174 10.3078 12.0043 10.3078C10.4911 10.3078 9.20508 10.8362 8.14625 11.893C7.08725 12.95 6.55775 14.2357 6.55775 15.75V16ZM7.36925 8.8845C7.93725 8.759 8.5235 8.52442 9.128 8.18075C9.73233 7.83725 10.2339 7.44817 10.6328 7.0135L9.94425 6.448C9.61092 6.79683 9.19008 7.11542 8.68175 7.40375C8.17342 7.69225 7.69492 7.891 7.24625 8L7.36925 8.8845ZM16.6307 8.8845L16.7538 8C16.2923 7.87817 15.8106 7.67625 15.3087 7.39425C14.8067 7.11225 14.3891 6.79683 14.0557 6.448L13.3673 7.0135C13.7661 7.43533 14.2677 7.82125 14.872 8.17125C15.4765 8.52125 16.0627 8.759 16.6307 8.8845ZM12.0033 21C10.7588 21 9.58867 20.7638 8.493 20.2915C7.3975 19.8192 6.4445 19.1782 5.634 18.3685C4.8235 17.5588 4.18192 16.6067 3.70925 15.512C3.23642 14.4175 3 13.2479 3 12.0033C3 10.7588 3.23617 9.58867 3.7085 8.493C4.18083 7.3975 4.82183 6.4445 5.6315 5.634C6.44117 4.8235 7.39333 4.18192 8.488 3.70925C9.5825 3.23642 10.7521 3 11.9968 3C13.2413 3 14.4113 3.23617 15.507 3.7085C16.6025 4.18083 17.5555 4.82183 18.366 5.6315C19.1765 6.44117 19.8181 7.39333 20.2908 8.488C20.7636 9.5825 21 10.7521 21 11.9968C21 13.2413 20.7638 14.4113 20.2915 15.507C19.8192 16.6025 19.1782 17.5555 18.3685 18.366C17.5588 19.1765 16.6067 19.8181 15.512 20.2908C14.4175 20.7636 13.2479 21 12.0033 21ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z" />
    </svg>
    <h1 class="mt-6 text-4xl font-light tracking-tight text-slate-600">Well, this is embarrasing</h1>
    <p class="max-w-xl mt-4 text-xl leading-7 text-gray-600">Sorry, but something went wrong in our app. It's not your fault, it's something wrong with our code.  </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="flex gap-2 items-center rounded-md bg-green-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
        Go back home</a>
    </div>
  </div>
</main>
