<main class="grid min-h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="mx-auto size-20 stroke-green-600/75">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
    </svg>
    <h1 class="mt-6 text-3xl font-light tracking-tight text-slate-600 sm:text-5xl">We couldn't find that page</h1>
    <p class="mt-4 text-xl leading-7 text-gray-600 max-w-2xl">Sorry, but the page you are looking for was probably removed, had its name changed, or is no longer available. Let's get you back on track.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="flex gap-2 items-center rounded-md bg-green-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
        Go back home</a>
    </div>
  </div>
</main>
