<main class="grid min-h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" class="mx-auto size-16 stroke-green-600/75">
  <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
</svg>

    <h1 class="mt-4 text-3xl font-light tracking-tight text-slate-600 sm:text-5xl">Sorry, not what you asked for</h1>
    <div class="max-w-2xl">
      <p class="mt-4 text-xl leading-7 text-gray-600">It looks like the page you're trying to reach can't be displayed in the format you asked for. This usually happens when the settings or the device you’re using doesn't support our content format (406). </p>
      <div class="mt-6 flex items-center justify-center gap-x-6">
        <a href="/" class="flex gap-2 items-center rounded-md bg-green-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
          Go back home</a>
      </div>
    </div>
  </div>
</main>
